body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #000;
  color: #fff;
}

.cont-usuario {
  margin-top: 50px;
  justify-content: center;
  display: flex;
  gap: 20px;
}

.usuario {
  position: relative;
  text-align: center;
  background-color: #222;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
}

.usuario:hover {
  background-color: #333;
  box-shadow: 0 8px 12px rgba(255, 255, 255, 0.3);
  transform: scale(1.05);
}

.name {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
}

.foto {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 5px;
}

li img {
  height: 30px;
}

.footer {
  text-align: center;
  padding: 1em;
  background: #1f1f1f;
  color: #ffffff;
  width: 100%;
  position: absolute;
  left: 0;
}

.header {
  background-color: #1f1f1f;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  text-align: center;
  color: white;
  width: 100vw;
  position: static;
  top:55px;
}
.title {
  text-align: center;
  margin-top: 50px;
  font-size: 2rem;
  font-weight: bold;
}

@media (max-width: 991px) {
  .cont-usuario {
    flex-wrap: wrap;
    justify-content: center;
  }

  .usuario {
    width: 250px;
  }

  .foto {
    width: 180px;
    height: 180px;
  }

  header h1 {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  header h1 {
    font-size: 1rem;
  }

  .usuario {
    padding: 15px;
  }

  .name {
    font-size: 20px;
  }

  .foto {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 450px) {

  header h1,h1{
    text-align: center;
    font-size: 1.2rem;
  }

  .usuario {
    width: 200px;
    padding: 10px;
  }

  .name {
    font-size: 16px;
  }

  .foto {
    width: 120px;
    height: 120px;
  }
}
